
<section style="background-color:red;">
<div class="row">
<div class="col-4" style="padding-left: 80px; padding-top :20px;">
  <p >
 <h6 class="text-white">Cócteles con Alcohol</h6> 
 <h6 class="text-white">Cócteles sin Alcohol</h6> 
 <h6  class="text-white">El Blog</h6>
<h6  class="text-white">¿Quiénes Somos?</h6><br><br><br>
<h6  class="text-white">Aprende a hacer los mejores cócteles</h6>
 </p>
</div>

<div class="col-4" style="padding-left: 80px;padding-top :20px;">
<p>
  <nav class="navbar navbar-light ">
    <form class="d-flex">
      <input class="form-control me-2" type="email" placeholder="Buscar:" aria-label="Search">
     <button type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
  </button>
    </form>
<div class="subscription__social">
  
</div>
</p>

</div>
<div class="col-4" style="padding-top :20px; padding-bottom:20px">
  
    <p>
<h6  class="text-white">La mejor web de cócteles del mundo</h6>
<h6  class="text-white">Aviso Legal</h6>
<h6  class="text-white">Política de Cookies</h6>
<h6  class="text-white">Política de Privacidad</h6>
</p>
</div>
</div>
</section >

