<div style="background-color: red">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="container" class="nav d-flex justify-content-between">
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="http://localhost:4000/links/inicio">TU CÓCTELERIA</a></li>
          <li><a class="dropdown-item" href="http://localhost:4000/links/la_tienda">Accede a la TIENDA DE COCTELES</a>
          </li>
          <li><a class="dropdown-item" href="http://localhost:4000/links/tu_cocteleria">COMPLEMENTOS DE COCTELERIA</a>
          </li>
        </ul>
      </div>

      <nav style="background-color:red;" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div style="padding-left:300px;" class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color:black;" class="nav-link active" aria-current="page"
                  href="http://localhost:4000/links/vista_principal">Menu</a>
              </li>
              <li class="nav-item">
                <a style="color:black;" class="nav-link active" aria-current="page"
                  href="http://localhost:4000/links/coctelescon_alcohol">Cócteles con alcohol</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link"
                  href="http://localhost:4000/links/coctelessin_alcohol">Cócteles sin alcohol</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="http://localhost:4000/links/la_tienda">La tienda</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link " href="http://localhost:4000/links/el_blog" tabindex="-1"
                  aria-disabled="true">El blog</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link " href="http://localhost:4000/links/quienes_somos"
                  tabindex="-1" aria-disabled="true">¿Quiénes somos?</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link " href="http://localhost:4000/links/cocteles_dos" tabindex="-1"
                  aria-disabled="true">Tipos de cocteles</a>
              </li>
            </ul>
          </div>
        </div>
      </nav><br>
    </nav>
  </div>
</div>

<section style="background-color:black ">
  <div class="row">
    <div class="col-4" style="padding-left: 80px; padding-top :20px;">

    </div>

    <div class="col-4" style="padding-left: 80px;padding-top :20px;">
      <p>
      <nav class="navbar navbar-light ">

        <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/logo.jpg"
          aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

        <div class="subscription__social">

        </div>
        </p>

</section>