<div class="container">
    <div class="row">
        {{#each ejemplocontroller}}
        <div class="col-md-4">
            <br>
            <div class="card-border-color-white" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{nombre}}</h5>
                <p class="card-text">{{comentario}}</p> 
                <p>{{correo}}</p>
            </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>