
  <h1 style="padding-left:120px;"  >Blog de Tu Coctelería</h1>
   <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/nutritivo.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
            <a class="nav-link active" aria-current="page" href="#">¿Qué son los cócteles nutritivos?</a>    
           </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/preparar.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">Cómo preparar un bar doméstico</a>    
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/mixologia.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">¿Qué es la mixología molecular?</a>    
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="70%" height="70%" src="http://localhost:4000/img/el_arte.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">¿Qué es el Garnish en coctelería?</a>    
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="70%" height="70%" src="http://localhost:4000/img/quees.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">¿Qué es la mixología?</a>    
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="70%" height="70%" src="http://localhost:4000/img/las.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">Las 50 mejores coctelerías del mundo en 2020</a>    
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/limones.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">¿Cuántas calorías tienen las bebidas alcohólicas?</a>    
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/navidad.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">10 Cócteles de navidad (y 5 clásicos que nunca fallan en cualquier fiesta)</a>    
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/tomate.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">Los 10 mejores cócteles con zumo de tomate</a>    
                </div>
              </div>
            </div>
          </div>
        </div>
      

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/tequila.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">TOP 10 Marcas de Tequila</a>    
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
<div style="padding-left:100px;" class="d-grid gap-2 d-md-block">
<a class="btn btn btn-light" href="http://127.0.0.1:8000/efe">1</a>
<a class="btn btn btn-light" href="http://localhost:4000/links/blog_coctelerados">2</a>
<a class="btn btn btn-light" href="http://localhost:4000/links/blog_coctelerados">Siguiente</a>
</div><br><br>
<center><a class="btn btn btn-dark" href="http://localhost:4000/links/vista_principal">Menu</a></center><br>

