
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="50%" height="50%" src="http://localhost:4000/img/wiski.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
            <a class="nav-link active" aria-current="page" href="#">Marcas de Whisky</a>    
           </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/marcas.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">Marcas de Ron</a>    
                </div>
              </div>
            </div>
          </div>
        </div>
            <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="120%" height="120%" src="http://localhost:4000/img/azul.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">10 Recomendaciones para el consumo responsable</a>    
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/pepino.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
            <a class="nav-link active" aria-current="page" href="#">Marcas de Ginebra Premium</a>    
           </div>
            </div>
          </div>
        </div>
             <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/marcasdos.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            <a class="nav-link active" aria-current="page" href="#">Marcas de Vodka</a>    
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>

<div style="padding-left:100px;" class="d-grid gap-2 d-md-block">
<a class="btn btn btn-light" href="http://localhost:4000/links/blog_tu_cocteleria">1</a>
<a class="btn btn btn-light" href="http://localhost:4000/links/blog_coctelerados">2</a>
<a class="btn btn btn-light" href="http://localhost:4000/links/blog_tu_cocteleria">Atras</a>
</div><br><br>

