<div class="container">
<h1>Cócteles sin Alcohol</h1>
<center><img src="http://localhost:4000/img/tefatres.jpg" alt=""></center><br><br>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<p class="fs-4">Los cócteles son preparados en los que se mezclan dos o más bebidas y otros ingredientes para obtener una tercera bebida combinada. Se elaboran principalmente a base de alcohol pero también en TuCocteleria.com te queremos enseñar que también hay opciones de cócteles sin alcohol muy jugosas, cócteles de zumos de frutas, cremas, miel, especias, leche y más.

Por mucho tiempo predominaron los cócteles a base de bebidas alcohólicas. Eran los favoritos. Su  alta demanda en todo tipo de festejos era innegable.

Aún cuando podían prepararse estos cócteles sin alcohol no era lo usual y quienes por cualquier razón se animaban a pedir que se prepararan de esa forma no se sentían del todo cómodos.

Sin embargo, no toda persona tolera el alcohol o muchos prefieren no consumirlo por razones diversas.</p><br><br>

  <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="http://localhost:4000/links/la_tienda">CONTINUA</a></p>

<h1>Motivos para preferir beber cocktails sin alcohol</h1>
<p class="fs-4">Entre los motivos más usuales para preferir la abstención al alcohol encontramos los siguientes:</p>
<ul>
    <li>Prevención de accidentes: Abundan las campañas en las que se motiva a las personas a abstenerse de ingerir alcohol si van a conducir. Esto se debe a que han ocurrido innumerables accidentes automovilísticos  que podían haberse evitado con el sólo hecho de que el conductor no se hubiese embriagado.</li><br>
    <li>JPeríodo de gestación: El consumo de alcohol puede dañar el feto en el útero y afectar el desarrollo del bebé. Es por eso que no se recomienda su ingesta por parte de mujeres embarazadas.</li><br>
    <li>Lactancia materna: Todo lo que consuma una mujer en período de lactancia lo estará consumiendo su bebé a la hora de lactar ¿no está nada bien darle alcohol a un bebé o sí?</li><br>
    <li>Dieta saludable: Muchas personas se abstienen de consumir alcohol porque este contiene muchas calorías que afectarían su dieta saludable.</li><br>
    <li>Ingesta de medicamentos: El efecto de algunos medicamentos se pierde con el alcohol mientras que otros producen efectos secundarios cuando se mezclan con este. Pudiendo llegar incluso a causar reacciones alérgicas. Es por eso que las personas que se encuentran bajo tratamiento médico deben evitar consumir este.</li><br>
  </ul><br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
<img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/f.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">  
                </div>
    <div class="carousel-item">
<img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/resi.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">  
    </div>
    <div class="carousel-item">
<img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/fresa.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">  
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br>

<p class="fs-4">No obstante, pese a las razones anteriores también existen personas que simplemente desean evitar sentir resaca o no les agrada el alcohol.</p>
<p class="fs-4">Para todas estas personas surgieron todo tipo de recetas de cócteles sin alcohol como alternativa para que estos puedan consumir una bebida agradable y singular en todo tipo de  ocasión sin ningún problema ni riesgo. También ellos pueden disfrutar de los ambientes festivos gracias a estos cócteles.</p><br>

<h1>El auge de los ‘mocktails’</h1>
<p class="fs-4">Los cócteles sin alcohol, denominados “mocktails” han cobrado auge en la actualidad y son ampliamente demandados al punto de que podemos encontrarlos comúnmente en los menús de restaurantes, bares y lugares similares junto a los también aún codiciados cócteles a base de bebidas alcohólicas.</p>
<p class="fs-4">Está muy de moda consumir este tipo de cócteles. En las fiestas y eventos ya también es muy usual que opten por esta clase de bebidas.</p>
</div>
