<div class="container">
    <p class="text"> <a href="http://localhost:4000/links/blog_tu_cocteleria" class="text-decoration-none">BLOG DE TU
        COCTELERÍA</a>.
    </p>
    <h1>10 Recomendaciones para el consumo responsable</h1><br>
    <center><img class="bd-placeholder-img" width="40%" height="40%" src="http://localhost:4000/img/colores.jpg"><br>
    </center>
    <p class="text">
      En TuCocteleria.com recomendamos sobre todo que el consumo de alcohol se haga desde un punto de vista responsable.
      Por mucho que os gusten las recetas de cócteles hay que hacerlo con cabeza. Y si queréis pasaros ir directamente a
      <a href="http://localhost:4000/links/coctelessin_alcohol" class="text-decoration-none">Cócteles sin Alcohol.</a>.
    </p><br>
    <p class="fs-5">1- No dejes que los menores de dieciocho años consuman bebidas con alcohol: no están preparados, ni
      física ni psicológicamente para permitir los efectos del consumo de bebidas con alcohol. Aconsejalos a fin de que
      no las consuman. En menores todo consumo es de peligro.</p>
    <p class="fs-5">2- Si tomás bebidas con alcohol, no manejes: la seguridad vial la hacemos entre todos. Programá una
      forma opción alternativa para retornar a tu casa. Procurá que haya un conductor designado en el conjunto en el que
      puedas confiar.</p>
    <p class="fs-5">3- A lo largo del embarazo y la lactancia no consumas bebidas con alcohol: produce efectos dañinos
      en el desarrollo y desarrollo de tu bebé.</p>
    <p class="fs-5">4- Evitá el consumo de bebidas con alcohol a lo largo del trabajo: especialmente si manejás
      maquinarias o bien trabajás en altura. Prevení accidentes.</p>
    <p class="fs-5">5- Respetá los derechos de quienes no desean consumir alcohol: si sos anfitrión ofrecé bebidas con y
      sin alcohol. Procurá que haya transporte alternativo libre a fin de que los convidados lleguen a sus casas sin
      peligros.</p>
    <p class="fs-5">6- Disfrutá la ocasión de consumo: tomá despacio y alterná la ingesta de bebidas con alcohol con
      agua o bien gaseosas. De este modo vas a poder pasarla bien con tus amigos o bien familiares.</p>
    <p class="fs-5">7- Consumí comestibles ya antes y a lo largo de la ingesta de bebidas con alcohol: los comestibles
      aportan contenidos caloríficos y de grasas, ayudando a la metabolización de bebidas con alcohol y reduciendo sus
      efectos dañinos.</p>
    <p class="fs-5">8- Evitá los juegos que estimulen el consumo excesivo de bebidas con alcohol: decile “no” a los
      fondo blanco y las mezclas. Tené en cuenta que tomar en ronda puede hacer que tomes más de lo que pensabas.</p>
    <p class="fs-5">9- Da un buen ejemplo: sé congruente entre lo que haces y lo que afirmáis. Cuida a las personas de
      tu ambiente alentándolas a la toma de resoluciones responsables frente al empleo de bebidas con alcohol.</p>
    <p class="fs-5">10- Ayudá a quienes consuman de forma excesiva bebidas con alcohol: si conocés a alguien que ingiera
      de forma excesiva y precisa ayuda comunicate con el Ministerio de Salud de la Nación</p>
  <br><br>
  <h3>Entradas relacionadas</h3><br>
   </div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/nutritivo.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h3>¿Qué son los cócteles nutritivos?</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/preparar.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>¿Qué es la mixología molecular?</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/mixologia.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>¿Qué es el Garnish en coctelería?</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/el_arte.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>¿Qué es la mixología?</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/quees.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Las 50 mejores coctelerías del mundo en 2020</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/las.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Las 50 mejores coctelerías del mundo en 2020</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
  <h3>Deja un comentario</h3>
  <p>Tu dirección de correo electrónico no será publicada. Los campos obligatorios están marcados con *</p><br>
  <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
<p class="fs-4">NOMBRE*</p>
  <div class="mb-3">
    <input type="text" class="form-control" name="nombre">
  </div>
<p class="fs-4">CORREO ELECTRONICO</p>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  </div>
<br>
