
<div class="container">
    <h1>¿En que podemos ayudarte?</h1>
<form>
  <div class="mb-3">
      <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">#</span>
  <input type="text" class="form-control" placeholder="Nombre de usuario" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Apellido" aria-label="Username">
  <span class="input-group-text">N°</span>
  <input type="text" class="form-control" placeholder="cel" aria-label="Server">
</div>

    <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword2">
  </div>
  <div class="input-group">
  <span class="input-group-text">Escribe tu mensaje</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Llenaste todas las casillas?</label>
  </div>
<a class="btn btn btn-info" href="">Enviar mensaje</a>
<a class="btn btn btn-danger" href="">Cancelar mensaje</a></form>
</div><br>


