<br>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">#</span>
  <input type="text" class="form-control" placeholder="Nombre de usuario" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Apellido" aria-label="Username">
  <span class="input-group-text">N°</span>
  <input type="text" class="form-control" placeholder="cel" aria-label="Server">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">N°</span>
  <input type="text" class="form-control" placeholder="Coctel a pedir" aria-label="Username" aria-describedby="basic-addon1">
</div>

<form class="row g-3">
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Cantidad</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="N° cocteles">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Contraseña</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="contraseña">
  </div>
  <div class="col-auto">    
    <button type="submit" class="btn btn-info mb-3">Confirmar identidad</button>
  </div>
</form>

<a class="btn btn btn-info" href="http://127.0.0.1:8000/efe">Realizada</a>
<a class="btn btn btn-danger" href="">Cancelar Compra</a>