
<main class="flex-shrink-0">
  <div class="container">
  <div class="pricing-header p-3 pb-md-4 mx-auto text">
    <h1 class="display-4 fw-normal">La mejor web de cocteles en el mundo</h1>
    <br>
    <br>
    <p  class="fs-5 text-muted">TUCOCTELERÍA.COM nace con un objetivo muy ambicioso, quiere que todas esas personas
      que han soñado alguna vez con ser un bartender de alta calidad como Tom Cruise en la película Cocktail lo
      puedan llegar a conseguir. El fin de esta web no es otro que ser la mayor web de cócteles del mundo en habla
      hispana, donde podrás aprender las recetas de los mejores cócteles y conocerás los trucos para hacerlos como
      un barman high quality. ¡Bienvenido a Tu Coctelería!</p>
    <br>
<p class="text">
  Eso sí, os recomendable sobre todo que hagáis un <a href="http://localhost:4000/links/consumo_responsable" class="text-decoration-none">consumo responsable.</a>.
</p>  </div>

  <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gyAxE2vS318" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </center>
  <br>
  <p style="text-align: center;"><a class="btn btn-dark btn-lg" href="http://localhost:4000/links/quienes_somos">¿Quiénes somos?</a></p>

  <br>
  <h2>Tipos de cócteles</h2>
  <br>
  <p  class="fs-5">Para ponértelo fácil en TuCoctelería hemos querido clasificarte los tipos de cócteles de una forma
    muy sencilla: Cócteles con alcohol y Cócteles sin alcohol. Y además los que tienen alcohol hemos querido
    dividirlos por alcoholes para dártelo mascado. Simplemente haz clic en el alcohol que quieres emplear y verás un
    listado de recetas de cóctel que te va a facilitar mucho la vida.</p>
  <br>
  <p class="text-danger">Cócteles con alcohol</p>
  <br>
  <h3>Cócteles sin alcohol</h3>
  <br>
  <div class="col">
    <div class="card shadow-sm">
      <img class="bd-placeholder-img" width="33%" height="33%"
        src="http://localhost:4000/img/once.jpg"
        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="#777" /></svg>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <h3>Cócteles sin alcohol</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br> <br>

  <h1>¿Cómo se escribe Cóctel, coktel, coctel, coctail, coktail o cocktail?</h1>
  <center><img class="bd-placeholder-img" width="50%" height="50%"
      src="http://localhost:4000/img/doce.jpg" aria-hidden="true"
      preserveAspectRatio="xMidYMid slice" focusable="false">
    <rect width="100%" height="100%" fill="#777" /></svg>
  </center>
  <center>
    <p>¿Cómo se escribe cóctel, coktel, coctel, coctail, cocktail o coktail?</p>
  </center>
  <br>
  <p class="fs-5">Quizás hemos querido ir demasiado rápido para mandaros a aprender, aprender y aprender antes que haber
    establecido los términos. Así que primero de todo deberemos saber de qué hablamos cuando hablamos de cócteles.</p>
  <p class="fs-5">Lo primero de todo, y por deformación profesión, debo decirte cómo escribir bien esto de los
    cocktails.</p>
  <p class="fs-5">Obviamente, el vocablo original es en inglés y es cocktail, que para algo lo inventaron ellos. Aunque
    seguro que en algún lado has visto escrito Coctail o Coktail, pero a esa gente no le hagas mucho caso. Así que si
    quieres escribir cocktail en inglés hazlo con CK y en cursiva: cocktail.</p>
  <p class="fs-5">Si nos vamos al habla hispana tenemos dos vertientes: Cóctel (o cócteles en plural) en España y en el
    Sur de América, aunque seguramente también puedas verlo sin acento (coctel) en algunos países hispanohablantes. Sin
    embargo, lo ideal es cóctel.</p>
  <br><br>
  <h1>Historia de la coctelería</h1>

  <p class="fs-5">Esto de la coctelería no es nada nuevo por muy moderno que pueda llegar a sonar. Lo que sí está claro
    es que el objetivo ha ido cambiado con el paso de las generaciones. Como no podía ser de otra manera podemos hablar
    de algo parecido a los cócteles en el siglo IV antes de Cristo, época de Alejandro Magno, Sócrates y Platón, y en la
    que se hacían brebajes con objetivo sanitarios. Se podría decir que es lo más alejado que podemos hablar de
    cócteles, unos protocócteles más cercanos a pócimas mágicas que a lo que tenemos ahora en mente que es un cóctel
    (aunque algo de magia sí que tienen).</p>
  <p class="fs-5">La palabra Cock-tail no apareció por primera vez en una publicación hasta 1798 cuando el diario The
    Morning Post llamó de esa manera al jengibre, como algo vulgar. No es parece un inicio idílico para nuestra causa.
  </p>
  <p class="fs-5">Ocho años más tarde en el The Balance And Columbian Repository, un medio de Nueva York, ya se habló
    por primera vez de lo que ahora entendemos como cóctel. De hecho, el editor de la publicación, Harry Croswell, se
    encargaba de definirlo por primera vez: “Un cóctel es un licor estimulante, compuesto por espíritus de cualquier
    tipo, azúcar, agua y bíteres”. Algo más bonito que pócima y jengibre y de paso involucraba el alcohol de por medio.
  </p>
  <br><br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
<img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/receta.jpg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">    </div>
    
    <div class="carousel-item">
<img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/servido.jpg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <h1>Los cócteles más famosos del mundo</h1>
  <p class="fs-5">En TuCocteleria.com queremos que aprendas a hacer el mayor número posible de cócteles posibles.
    Queremos que seas todo un experto y para ello te hemos creado todas las recetas de cócteles con alcohol y sin
    alcohol, pero si estás empezando y quieres fascinar a tus amigos queremos que empieces por aquí. Te hemos preparado
    una lista con los cocktails más famosos del mundo, los que se pide más la gente para que los domines y con ello
    comenzar con este arte de la coctelería. Prueba de hacer estos y cuando lo hagas sube tu nivel y prueba alguno menos
    conocido para demostrar que eres un auténtico bartender.</p>
  <br>
  <h3>Mojito</h3>
  <br>
  <p class="fs-5">Posiblemente el cóctel más popular del mundo. Originario de Cuba esta bebida comenzó haciéndose con
    aguardiente, sin embargo, con la mejora de la calidad del ron cambió su alcohol. Ernest Hemingway era fan absoluto
    de esta bebida.</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/trece.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Mojito</h3>
  <br><br>
  <h3>Margarita</h3>
  <p class="fs-5">Había un anuncio que explicaba una de las versiones sobre el origen del Margarita y su relación con la
    actriz Rita Hayworth. En concreto este…</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kPoXGKuzdjM" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <p class="fs-5">Pero no está tan claro que fuese así la historia, ni que tuviera mucho que ver con la famosa
    celebridad de Hollywood. Lo que sí se sabe es que el primer Margarita se hizo en México y hay varias teorías al
    respecto, aunque creo que profundizaremos con un artículo sobre ello.</p>
  <br>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/catorce.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Margarita</h3>
  <br><br>
  <h3>Daiquiri</h3>
  <p class="fs-5">Sí, el cocktail de Carrie Bradshaw en Sexo en Nueva York se ha convertido en uno de los cócteles más
    famosos del mundo en muy poco tiempo. Madonna y la seguídisima serie de la HBO son muy culpables de la explosión de
    este jugo made in Nueva York.</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/quince.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Daiquiri</h3>
  <br><br>
  <h3>Cosmopolitan</h3>
  <p class="fs-5">Sí, el cocktail de Carrie Bradshaw en Sexo en Nueva York se ha convertido en uno de los cócteles más
    famosos del mundo en muy poco tiempo. Madonna y la seguídisima serie de la HBO son muy culpables de la explosión de
    este jugo made in Nueva York.</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/dieciseis.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Cosmopolitan</h3>
  <br><br>
  <h3>Bloody Mary</h3>
  <p class="fs-4">Los franceses también dominan la coctelería y el Bloody Mary es desde casi un siglo uno de los
    cócteles más conocidos de origen francés. Su nombre, dicen, se lo pusieron como referencia a Maria I de Inglaterra.
  </p>
  <br>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/diecisiete.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Bloody Mary</h3>
  <br><br>
  <h3>Manhattan</h3>
  <p class="fs-4">Sin saberse muy claramente cuándo surgió el primer Manhattan, esta mezcla con Whisky data de finales
    del siglo XIX obviamente en la ciudad de New York. Con el paso del tiempo ha pasado de bebida de noche a ser cada
    vez más un trago como aperitivo.</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/dieciocho.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Manhattan</h3><br><br>
  <h3>Piña Colada</h3>
  <p class="fs-4">Si te gusta la piña en la pizza, ¿por qué no te va a gustar en un cóctel? La historia de la Piña
    colada es bastante curiosa, cuenta la leyenda que la receta es de un pirata puertoriqueño que le daba esta mezcla
    con ron (como buen pirata) a su tripulación.</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/diecinueve.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Piña Colada</h3><br><br>
  <h3>Caipirinha</h3>
  <p class="fs-4">La bebida de Brasil por antonomasia. La Caipirinha sabe a samba, sabe a Copacabana, a alegría.
    Curiosamente además de ser una bebida simbólica del país sudamericano también contribuyó como remedio a principios
    del siglo XX para acabar con una epidemia de gripe.</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/veinte.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Caipirinha</h3><br><br>
  <h3>Gintonic</h3>
  <p class="fs-4">El Gin Tonic es posiblemente el cóctel más de moda de los últimos años. Su origen está ligado, como
    era de esperar, a la tónica y más concretamente a la Schweppes. Las tropas británicas en la India se ponían las
    botas con esta mezcla entre ginebra y tónica.</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/ventiuno.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Gintonic</h3><br><br>
  <h3>Dry Martini</h3>
  <p class="fs-4">Si quieres ser Bond, James Bond, será mejor que empieces a beber Martini. Este cóctel estadounidense
    tiene mucha historia a parte de ser la bebida de la saga del agente secreto más conocido de la historia del cine.
    Entre las muchas anécdotas que rodean a esta bebida hay una genial que dice que Franklin Delano Roosevelt celebró la
    derogación de la Ley Seca con un lingotazo de Dry Martini. ¡A su salud!</p>
  <img class="bd-placeholder-img" width="30%" height="30%"
    src="http://localhost:4000/img/veintidos.jpg" aria-hidden="true"
    preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="#777" /></svg>
  <h3>Dry Martini</h3><br><br>
  
  <h1>Lo que necesitas para tener una buena coctelería casera</h1><br>
  <p class="fs-4">Como para convertirte en un buen coctelero necesitarás las herramientas necesarias hemos decidido
    ponértelo fácil. Y hemos creado una tienda online con los mejores productos de Amazon para coctelería. En ella
    podrás encontrar los principales instrumentos del bartender profesional:</p>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
<img class="bd-placeholder-img" width="70%" height="70%" src="http://localhost:4000/img/como.jpg"
  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">   
 </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



  <ul>
    <li>Mixer o vaso mezclador</li><br>
    <li>Jigger o Medidor para cócteles</li><br>
    <li>Batidora</li><br>
    <li>Gusanillo para cócteles</li><br>
    <li>Cucharilla de bar</li><br>
    <li>Muddler o mortero para cócteles</li><br>
    <li>Exprimidor</li><br>
    <li>Cubitera</li><br>
    <li>Tabla de cortar&#8230;</li><br>
  </ul><br> </div>
  </footer>
  </div>
</div>
</main>
  
  <center>
    <p class="fs-5">En la tienda además te explicamos qué utilidad cada uno de los utensilios para que hagas los
      cócteles a nivel pro.</p>
  </center>

  <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="http://localhost:4000/links/la_tienda">Accede a la TIENDA DE LOS CÓCTELES</a></p>
  <center>
    <p class="fs-5">Te dejamos un avance de productos que puedes comprar aquí debajo.</p>
  </center><br>
  <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="http://localhost:4000/links/tu_cocteleria">COMPLEMENTOS DE COCTELERIA</a></p><br><br>

