<div class="container">
<h1>¿Quiénes somos?</h1>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>

<p class="fs-4">Si has llegado a esta página de Quiénes somos es que eres un poco cotilla, pero no pasa nada. No tenemos nada que ocultar. TuCocteleria.com es un proyecto realizado entre dos amigos, uno camarero con mucha experiencia y bartender con curiosidad y el otro un periodista con carácter emprendedor que se encarga de traspasar de voz a letra aquellos cócteles que el barman presenta.</p>
<br>
<h1 style="background-color: red;">Gregorio Calero e Iñaki García para servirles</h1>

<img src="http://localhost:4000/img/Gregorio-calero.jpg" class="rounded float-start" alt="..."><p class="fs-4">GREGORIO CALERO</p>
<p class="fs-4">Muy buenas. Yo soy GREGORIO CALERO y llevo diez años trabajando en hostelería, he hecho un poco de todo y en sitios bastante importantes de Barcelona como La fábrica de Moritz o el restaurante del Hotel W además de haber estado en algún que otro sitio muy cool como el Bicnic, el cual fue elegido en 2017 como uno de los mejores restaurantes nuevos de la ciudad</p>

<img src="http://localhost:4000/img/iñaki-García.jpg" class="rounded float-start" alt="..."><p class="fs-4">GREGORIO CALERO</p>
<p class="fs-4">Muy buenas. Yo soy GREGORIO CALERO y llevo diez años trabajando en hostelería, he hecho un poco de todo y en sitios bastante importantes de Barcelona como La fábrica de Moritz o el restaurante del Hotel W además de haber estado en algún que otro sitio muy cool como el Bicnic, el cual fue elegido en 2017 como uno de los mejores restaurantes nuevos.</p>

<h1 style="background-color:red;"> ¿Por qué hemos creado TuCocteleria.com?</h1>
<p class="fs-4">La idea nos pilló en una semana de impasse entre cambios de trabajo de uno y de otro, queríamos hacer la nuestra y buscar una manera de ganarse la vida sin depender de jefes. Aún así ya os puedo asegurar que no hay peores jefes que nosotros mismos.t</p>
<p class="fs-4">Tu Coctelería nace porque somos gente que creemos mucho en esa filosofía de Do Yourself, hazlo tú mismo, y queríamos enseñar que todos esos espectaculares y en la mayoría de casos carísimos cócteles que puedes probar por los bares y coctelerías del mundo también puedes hacerlos en casa. Preparar la olla, dos ancas de rana, el pelo de la barba de un guitarrista de ZZ-Top, el estornudo de un elfo y mucha ilusión, ese es nuestro cóctel para que esto funcione.
<br>
  <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="http://localhost:4000/links/inicio">Vuelve a la HOME y disfruta</a></p>
 </div>
</main>
</div>
