
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/inicial.jpg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%" src="http://localhost:4000/img/servido.jpg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

<section style="background-color:red;">
<div class="row">
<div class="col-4" style="padding-left: 80px; padding-top :20px;">
  <p >
 <h6 class="text-white">PAGO CONTRA ENTREGA</h6> 
 <img class="bd-placeholder-img" width="40%" height="40%" src="http://localhost:4000/img/dinero.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
 </p>
</div>

<div class="col-4" style="padding-left: 80px; padding-top :20px;">
  <p >
 <h6 class="text-white">PAGO SEGURO ONLINE</h6> 
 <img class="bd-placeholder-img" width="30%" height="40%" src="http://localhost:4000/img/seguro.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
 </p>

</div>
<div class="col-4" style="padding-top :20px; padding-bottom:20px">
  
    <p>
<h6  class="text-white">RECETA DE COCTELES</h6>
 <img class="bd-placeholder-img" width="30%" height="50%" src="http://localhost:4000/img/pen.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

</div>
</div>
</section >
<center><h1>Vinos trailing con una kicha de todo el mundo </h1></center>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%"
              src="http://localhost:4000/img/vino.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h3>Vino clasico</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="60%" height="60%"
              src="http://localhost:4000/img/vinodos.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Aubert Pinot Noir Sonoma Coast.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="35%" height="35%"
              src="http://localhost:4000/img/vinotres.png"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Brunello di Montalcino Lé Lucére</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="50%" height="50%"
              src="http://localhost:4000/img/vinoo.png"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Cabernet Sauvignon Mount Veeder</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="40%" height="40%"
              src="http://localhost:4000/img/bartolo.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Châteauneuf-du-Pape Les Trois S</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="55%" height="55%"
              src="http://localhost:4000/img/kevin.jpeg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Piedra Negra Chacayes Los Chacayes. .../h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%"
              src="http://localhost:4000/img/cucu.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Vino Nergo</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

      
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%"
              src="http://localhost:4000/img/sed.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Vino blando</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img" width="100%" height="100%"
              src="http://localhost:4000/img/siu.jpg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <h3>Vino rosa</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div style="padding-left:100px;" class="d-grid gap-2 d-md-block">
<a class="btn btn btn-light" href="http://localhost:4000/links/vista_principal">1</a>
<a class="btn btn btn-light" href="http://localhost:4000/links/alcoholl">2</a>
<a class="btn btn btn-light" href="http://localhost:4000/links/alcohol">Siguiente</a>
</div><br><br>
<br>
<center><img class="bd-placeholder-img" width="50%" height="50%" src="http://localhost:4000/img/ubicacion.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"> 
<p class="text">
  Nos encontramos<a href="http://localhost:4000/links/inicio" class="text-decoration-none">Ubicados en la calle palmira-n24-27</a>.
    <p style="text-align: center;"><a class="btn btn-dark btn-lg" href="http://localhost:4000/links/ubicados_local">Ir a ubicación</a></p>

</p><br></center> 

